@import '../../styles/variables';
@import '../../styles/grid/grid.scss';

.article-pitch {
  text-align: center;

  &__text-content {
    background-color: $color-yellow;
    height: 100%;
    padding: 10% 10%;
    &--subtle {
      background-color: $color-blue-haze;
      padding: calc(3rem + 2vw) 0;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: $breakpoint-md) {
      margin-top: $grid-gutter-width;
      height: 40vh;
    }
  }

  &__title {
    font-size: $text-huge;
    @media (max-width: $breakpoint-md) {
      font-size: $text-huge / 1.5;
    }

    margin: 0;

    &--subtle {
      font-size: $text-big;
      @media (max-width: $breakpoint-md) {
        font-size: $text-big / 1.2;
      }
    }
  }

  &__subtitle {
    font-size: $text-normal;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 1.5em;

    &--subtle {
      font-size: $text-small;
    }
  }

  &__intro {
    font-size: $text-big;
    @media (max-width: $breakpoint-md) {
      font-size: $text-big / 1.2;
    }
  }
  &__link {
    margin-top: 3em;
    &--subtle {
      margin-top: 1em;
    }
  }
}
