@import '../../styles/variables';

.article-pitch {
  display: flex;
  background-color: $yellow;

  &--subtle {
    background-color: $color-blue-haze;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__title {
    font-size: $text-huge;
    &--subtle {
      font-size: $text-medium;
    }
  }
  &__intro {
    font-size: $text-big;
  }
}
