@import '../../styles/variables';
@import '../../styles/grid/grid.scss';

.hero {
  display: flex;
  background-color: $color-purple-light;
  flex-direction: row;
  padding: 6vh 0 2vh 0;

  &__container {
    display: flex;
    width: $wrap-outer;
    margin: 0 auto;
    padding: 0 calc(#{$grid-gutter-width} / 2);
  }

  &__text-content {
    padding-right: $grid-gutter-width;
  }

  &__title {
    font-size: 18px;

    @media (min-width: $breakpoint-md) {
      font-size: 32px;
    }
  }

  &__text {
    font-size: 18px;

    @media (min-width: $breakpoint-md) {
      font-size: 32px;
    }
  }

  &__image {
    display: block;
    padding: 2% 0;

    @media (min-width: $breakpoint-sm) {
      width: auto;
    }
  }
}
