@import '../../styles/variables';
@import '../../styles/grid/grid.scss';

.hero {
  background-color: $color-purple-light;
  padding: 6vh 0 2vh 0;

  &__text {
    font-size: $text-medium;
  }

  &__image {
    display: block;
    padding: 2% 0;

    @media (min-width: $breakpoint-sm) {
      width: auto;
    }
  }
}
