@import '../../styles/variables';

.link-entry,
.link-entry:visited {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 7em;
  text-decoration: none;
  text-align: center;
  padding: 0.9 em;
  color: $color-black;
  background-color: $color-white;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.05);

  &:hover,
  &:active {
    box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.14);
    outline: 3px solid $color-mint;
  }
  &:active {
    background-color: $color-grey-light;
  }
}
