@import '../../styles/variables';

.link-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-decoration: none;
  text-align: center;
  padding: 2em 0.75em 1.4em 0.75em;
  color: $color-black;
  background-color: $color-white;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.05);
  font-size: $text-normal;

  &__icon {
    display: inline-flex;
    height: 3.5em;
    width: auto;
    margin-bottom: 1em;
    align-items: center;
  }

  &:hover,
  &:active {
    color: $color-black;
    box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.14);
    outline: 3px solid $color-mint;
  }
  &:active {
    background-color: $color-grey-light;
  }
}
