@import '../../styles/variables';

.role-switch {
  display: flex;
  font-size: $text-normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &__link {
    flex: 1;
    padding: 0.75em;
    text-align: center;
    border: 1px solid $color-purple;
    text-decoration: none;
    color: $color-purple;

    &:hover {
      background-color: $color-purple-light;
    }

    &--active {
      color: $color-white;
      text-decoration: underline;
      background-color: $color-purple;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &:hover {
        background-color: $color-purple;
      }
    }
  }
}
