// To avoid flicker, add this class to elements that will be animated in
.animate-hidden {
  opacity: 0;
  will-change: auto;
}

.animate-in {
  animation: animateIn 300ms forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);

  // Loop through the items and add some delay.
  @for $i from 1 through 30 {
    &:nth-child(#{$i}) {
      animation-delay: 50ms * $i;
    }
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
