body {
  background-color: $color-mint-light;
  font-family: 'Roboto', sans-serif;
  color: $color-black;
  font-size: $text-normal;
}

.wrap-outer {
  max-width: $wrap-outer;
  margin-left: auto;
  margin-right: auto;
}

// Responsive images
img {
  max-width: 100%;
  height: auto;
}
