@import './variables';

html,
body {
  font-family: 'Roboto', sans-serif;
  color: $color-black;
  font-size: 15px;
  @media screen and (min-width: $breakpoint-sm) {
    font-size: calc(15px + 3 * ((calc(100vw - #{$breakpoint-sm})) / 680));
  }
  @media screen and (min-width: $breakpoint-xl) {
    font-size: 18px;
  }
}

p,
ul {
  line-height: 1.5;

  a,
  a:visited,
  a:active {
    display: inline;
    font-weight: bold;
    color: $color-black;
    text-decoration: none;
    box-shadow: inset 0 -3px $color-blue;
    padding-bottom: 4px;

    &:hover {
      color: $color-blue;
      box-shadow: inset 0 -3px $color-blue;
    }
  }
}

.link {
  &,
  &:visited,
  &:active {
    display: inline;
    color: $color-black;
    text-decoration: none;
    box-shadow: inset 0 -3px $color-blue;
    padding-bottom: 4px;
  }
  &:hover {
    color: $color-blue;
    box-shadow: inset 0 -3px $color-blue;
  }

  &--white {
    &,
    &:visited,
    &:active,
    &:hover {
      color: white !important;
      box-shadow: inset 0 -3px $color-mint;
    }
  }
  &--slim {
    &,
    &:visited,
    &:active,
    &:hover {
      font-weight: normal;
    }
  }
}

.text-huge {
  font-size: $text-huge;
}
.text-big {
  font-size: $text-big;
}
.text-medium {
  font-size: $text-medium;
}
.text-normal {
  font-size: $text-normal;
}
.text-small {
  font-size: $text-small;
}
.text-center {
  text-align: center;
}

h1,
.h1 {
  font-size: $text-huge;
  font-size: normal;
  margin: 0;
  &--thin {
    font-size: normal;
  }
  &--bold {
    font-size: bold;
  }
}

h2,
.h2 {
  font-size: $text-big;
  font-size: normal;
  margin: 0;
  &--thin {
    font-size: normal;
  }
  &--bold {
    font-size: bold;
  }
}

h3,
.h3 {
  font-size: $text-medium;
  font-size: bold;
  margin: 0;
  &--thin {
    font-size: normal;
  }
  &--bold {
    font-size: bold;
  }
}

p {
  line-height: 1.5;
}

.strong {
  font-weight: bold;
}

small {
  font-size: $text-small;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local('Roboto'), local('Roboto-Regular'),
    url('./fonts/roboto-v19-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/roboto-v19-latin-regular.woff')
      format('woff'); /* Modern Browsers */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  font-display: fallback;
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('./fonts/roboto-v19-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/roboto-v19-latin-italic.woff')
      format('woff'); /* Modern Browsers */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./fonts/roboto-v19-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/roboto-v19-latin-500.woff')
      format('woff'); /* Modern Browsers */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bold;
  font-display: fallback;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('./fonts/roboto-v19-latin-500italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/roboto-v19-latin-500italic.woff')
      format('woff'); /* Modern Browsers */
}
