$huge: 36px;
$big: 32px;
$medium: 24px;
$normal: 21px;
$small: 16px;

h1,
.h1 {
  font-size: $huge;
  font-size: bold;
  &--thin {
    font-size: normal;
  }
  &--bold {
    font-size: bold;
  }
}

h2,
.h2 {
  font-size: $big;
  font-size: normal;
  &--thin {
    font-size: normal;
  }
  &--bold {
    font-size: bold;
  }
}

h3,
.h3 {
  font-size: $medium;
  font-size: bold;
  &--thin {
    font-size: normal;
  }
  &--bold {
    font-size: bold;
  }
}

.strong {
  font-weight: bold;
}

small {
  font-size: $small;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('./fonts/roboto-v19-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/roboto-v19-latin-regular.woff')
      format('woff'); /* Modern Browsers */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('./fonts/roboto-v19-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/roboto-v19-latin-italic.woff')
      format('woff'); /* Modern Browsers */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./fonts/roboto-v19-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/roboto-v19-latin-500.woff')
      format('woff'); /* Modern Browsers */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('./fonts/roboto-v19-latin-500italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/roboto-v19-latin-500italic.woff')
      format('woff'); /* Modern Browsers */
}
