// Colors
$color-purple: #2d0469;
$color-blue: #4304f7;
$color-blue-haze: #dae9ea;
$color-mint: #83eabf;
$color-mint-light: #f4f8f9;
$color-yellow: #f4db8d;
$color-black: #1a1a1a;
$color-white: #ffffff;
$color-grey: #757575;
$color-grey-light: #f9f9f9;
$color-purple-light: #f4f2f7;

// The real spacing - will get tweaked
$spaces: (
  0: 0.2rem,
  1: 0.5rem,
  2: 1rem,
  3: 2rem,
  4: 3rem,
  5: 4rem,
  6: 5rem,
  7: 6rem,
  8: 8rem
);

// Other
$wrap-outer: 1240px;

// Font sizes
$text-huge: 2.4rem; // ~43px
$text-big: 1.5rem; // 27px
$text-medium: 1.125rem; // ~20px
$text-normal: 1rem; // 18px
$text-small: 0.875rem; // ~16px

// Media queries (matches Bootstrap)
// Small devices (landscape phones, 576px and up)
$breakpoint-sm: 576px;
// Medium devices (tablets, 768px and up)
$breakpoint-md: 768px;
// Large devices (desktops, 992px and up)
$breakpoint-lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$breakpoint-xl: 1200px;
