// Colors
$color-purple: #2d0469;
$color-blue: #4304f7;
$color-blue-haze: #dae9ea;
$color-mint: #83eabf;
$color-mint-light: #f4f8f9;
$color-yellow: #f4db8d;
$color-black: #1a1a1a;
$color-white: #ffffff;
$color-grey: #757575;
$color-grey-light: #f9f9f9;
$color-purple-light: #f4f2f7;

// Spacing
$spacing-1: 2px;
$spacing-2: 4px;
$spacing-3: 8px;
$spacing-4: 12px;
$spacing-5: 16px;
$spacing-6: 24px;
$spacing-7: 32px;
$spacing-8: 48px;
$spacing-9: 72px;
$spacing-10: 104px;

// Other
$wrap-outer: 1240px;

$text-huge: 36px;
$text-big: 32px;
$text-medium: 24px;
$text-normal: 21px;
$text-small: 16px;
