@import '../../styles/variables';

.icon {
  display: inline-block;
  height: auto;
  width: auto;

  svg {
    width: 100%;
    height: auto;
  }
  &--giga {
    width: $text-huge * 2;
  }
  &--huge {
    width: $text-huge;
  }
  &--big {
    width: $text-big;
  }
  &--medium {
    width: $text-medium;
  }
  &--normal {
    width: $text-normal;
  }
  &--small {
    width: $text-small;
  }
}
