@import '../../styles/variables';

.header {
  background-color: $color-purple;
  padding: map-get($spaces, 2) 0;

  &__title {
    color: white !important;
    font-size: $text-medium;

    @media (min-width: $breakpoint-md) {
      font-size: $text-big;
    }
  }

  &__description {
    color: white;
    text-align: right;
    display: none;

    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }
}
