@import '../../styles/variables';

.footer {
  background-color: $color-purple;
  color: white;
  padding: 72px 0;

  &__link {
    color: white;
  }

  &__line {
    border-left: 3px solid $color-mint;
    padding-left: 1.5em;
    height: 100%;
    float: left;

    @media (max-width: $breakpoint-sm) {
      width: 4rem;
      height: 0;
      float: none;
      margin-top: map-get($spaces, 1);
      margin-bottom: map-get($spaces, 2);
      display: inline-block;
      border-left: none;
      padding-left: 0;
      border-top: 3px solid $color-mint;
    }
  }

  &__contact {
  }
}
