@import '../../styles/variables';

.footer {
  background-color: $color-purple;
  color: white;
  padding: 72px 0;

  &__link {
    color: white;
  }

  &__contact {
    border-left: 3px solid $color-mint;
    padding-left: 1.5em;
  }
}
