@import '../../styles/variables';

.footer {
  flex-shrink: 0;
  background-color: $color-purple;
  color: white;
  padding: 4rem 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &__contact {
    @media (max-width: $breakpoint-sm) {
      margin-top: 2rem;
    }
  }
  &__tagline {
    line-height: 1.6em;
  }
}
