@import '../../styles/variables';

.link-block {
  display: inline-flex;
  text-decoration: none;
  padding: 0.9em;
  color: white;
  background-color: $color-blue;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.05);

  &:hover {
    background-color: $color-purple;
  }

  &__icon {
    margin-left: 0.5em;
  }
}
