@import '../../styles/variables';

.link-block,
.link-block:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  color: white;
  background-color: $color-blue;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.05);

  &:hover {
    background-color: $color-purple;
  }
}
