@import '../../styles/variables';

.intro-image {
  &__description {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
  }
  &__description-text {
    font-size: $text-small;
  }
  &__icon {
    align-self: flex-start;
    margin-right: 0.75em;
  }
}
