@import '../../styles/variables';

.link-step {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &--subtle {
    flex-direction: row-reverse;
  }

  &--subtle-back {
    flex-direction: row;
  }

  &__text {
    flex-shrink: 0;
    text-align: center;
    &--subtle {
      text-align: right;
    }
    &--subtle-back {
      text-align: left;
    }
  }
  &__icon {
    text-align: center;
    height: 2em;
    width: auto;

    svg {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    &--subtle {
      height: 1em;
    }
  }

  &:hover,
  &:active {
  }
  &:active {
  }
}
