@import '../../styles/variables';

.link-step {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &--subtle {
    flex-direction: row-reverse;
  }

  &--subtle-back {
    flex-direction: row;
    text-align: right;
  }

  &__text {
    display: inline-flex;
    align-self: center;
    flex-shrink: 0;
    text-align: center;
    color: $color-black;
    text-decoration: none;
    &--subtle {
      text-align: right;
    }
    &--subtle-back {
      text-align: left;
    }

    &:hover,
    &:active {
      color: $color-blue;
    }
  }
  &__icon {
    display: inline-flex;
    align-self: center;
    height: 2em;
    width: auto;
    margin-bottom: 0.5em;

    svg {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    &--subtle {
      height: 1em;
      margin: 0 1em;
      align-self: center;
    }
  }
}
