.animate-in {
  opacity: 0;
  animation: animateIn 400ms forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);

  // Loop through the items and add some delay.
  @for $i from 1 through 30 {
    &:nth-child(#{$i}) {
      animation-delay: 80ms * $i;
    }
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
